<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Index</title>
</head>
    <body>
        <h1>Nutriton Infomation</h1>
        <hr>
        <table style="width:100%">
        <% for(var i=0; i<25; i++) {%>
            <tr>
                <td><%= infos[i]['Shrt_Desc'] %></td>
                <td><%= infos[i]['Energ_Kcal'] %></td>
                <td><%= infos[i]['Carbohydrt_(g)'] %></td>
                <td><%= infos[i]['Lipid_Tot(g)'] %></td>
                <td><%= infos[i]['Protein_(g)'] %></td>
                <td><%= infos[i]['Sodium_(mg)'] %></td>
                <td><%= infos[i]['Sugar_Tot_(g)'] %></td>
                <% } %>
            </tr>
        </table>
    </body>
</html>
